* {
  font-family: Inter;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --bgImagePrimario: linear-gradient(to bottom, black, #151515);
  --corPrimaria: #faff04;
  --tamanhoCarrosel: 456px;
}

/* Informações sobre desconto e frete grátis */
header {
  background-color: #000000;
  width: 100%;
  height: fit-content;
  padding: 5px;
}

header p {
  width: 100%;
  text-align: center;
  font-size: 17px;
  margin-bottom: 4px;
}

.primeiroTitulo {
  color: #d1d1d1;
}

.segundoTitulo {
  color: var(--corPrimaria);
}

/*  Navbar  */
nav {
  width: 100%;
  height: 12%;

  background-image: linear-gradient(to bottom, black, #151515);
  color: white;

  position: sticky;
  top: 0;

  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;
}

.navBtn{
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  transition: .5s;
}
.navBtn:hover{
  color: var(--corPrimaria);
}
#hamburguerBtn{
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);

  border: none;
  background: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: .6s;
}

nav .navContainer{
  width: 92%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoArea {
  height: 100%;
  width: 15%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.logoArea img {
  height: 90px;
  width: 90px;
}

.companyName {
  font-size: 1.5rem;
  color: var(--corPrimaria);
  font-weight: bold;

  position: absolute;
  margin-top: 60px;
}

.navMenu {
  width: 85%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  white-space: nowrap;
}

.navItems {
  margin: 0;
  padding: 0;

  width: 50%;

  display: flex;
  justify-content: center;
}
.navItems > li{
  margin-right: 18px;
}
#produtosListaDropDown{
  position: relative;
}
#produtosListaDropDownUl{
  background-color: #181818;
  position: absolute;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  left: 0%;
  width: 150px;
  white-space: nowrap;
  padding: 10px 20px 20px 10px;
  transition: .6s;
}
#produtosListaDropDownUl.mostrar{
  pointer-events: all;
  opacity: 1;
}
#produtosListaDropDownUl li{
  margin-top: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d1d1d1;
  color: #d1d1d1;
}
#produtosListaDropDownUl li:hover{
  text-indent: 5px;
  color: var(--corPrimaria);
  border-bottom: 1px solid var(--corPrimaria);
}
.navItems i{
  font-size: 0.8rem;
  margin-left: -2px;
}

.navItems li,
.navItems a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  transition: .4s;
}

.navItems a:hover {
  text-decoration: none;
  color: var(--corPrimaria);

  
}

.navItems2 {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav2ItemNome{
  display: none;
}




/*  Div carrosel  */

.meio {
  width: 100%;
  height: var(--tamanhoCarrosel);
  position: relative;

  background-image: url(images/gym_nobody__empty_fitness_club_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sombraSobreFoto {
  background-color: rgba(
    1.0625000554136932,
    1.0625000554136932,
    1.0625000554136932,
    0.44999998807907104
  );
  width: 100%;
  height: var(--tamanhoCarrosel);
  position: absolute;
  left: 0px;
  top: 0px;
}

.btnCompra {
  width: 237.02731323242188px;
  height: 64px;
  position: absolute;
  left: 29%;
  top: 325px;
}

.btnBackground {
  background-color: rgba(
    233.00000131130219,
    116.00000068545341,
    9.000000413507223,
    1
  );
  width: 237.02731323242188px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btnTexto {
  color: rgba(255, 255, 255, 1);
  width: 174.02005004882812px;
  height: 60px;
  position: absolute;
  left: 32.003841400146484px;
  top: 4px;

  text-align: center;
  font-size: 39px;
  letter-spacing: 2;
}

/* Essa classe ta meio cagada, tem q arrumar se for usar */
/* .precoProduto {
  color: rgba(255, 122.3999972641468, 0, 1);
  width: 383.7218017578125px;
  height: 66.47367858886719px;
  position: absolute;
  left: 18%;
  top: 260px;
  text-align: center;
  font-size: 45px;
  letter-spacing: 2;
} */

.precoCombo {
  color: rgba(218.87500405311584, 218.87500405311584, 218.87500405311584, 1);
  width: 313.95416259765625px;
  height: 34.42387390136719px;
  position: absolute;
  left: 23%;
  top: 227px;

  text-align: center;
  font-size: 23px;
  letter-spacing: 2;
}

.tituloCarrossel {
  color: rgba(255, 255, 255, 1);
  width: 679.4757690429688px;
  height: 53.41635513305664px;
  position: absolute;
  top: 183px;

  text-align: center;
  font-size: 35px;
  letter-spacing: 2;
}

.fotoProdutos {
  width: 238px;
  height: 215px;
  position: absolute;
  left: 29%;
  top: -25px;
  background-image: url(images/highlight_item.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.esquerda {
  color: rgba(255, 255, 255, 1);
  width: 85.01973724365234px;
  height: 110.82571411132812px;
  position: absolute;
  left: 25.811079025268555px;
  top: 400px;

  text-align: left;
  font-size: 70px;
  letter-spacing: 2;
}

.direita {
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: 95.394287109375px;
  position: absolute;
  left: 96%;
  top: 400px;

  font-size: 70px;
  letter-spacing: 2;
}

/*  CAROUSEL  */
.carroselSection{
  margin-bottom: 40px;
  box-shadow: 1px 3px 5px 1px #000000b0;
}

#imagem-Carousel {
  width: 280px;
  height: 380px;
  zoom: 80%;
  left: 45%;
  margin-top: 8%;
  margin-left: -20%;
  position: relative;
}

.carousel-caption {
  margin-left: 35%;
}

.carrossel {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 32%;
  margin-top: 80%;
}

.button__ {
  width: 150px;
  height: 40px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 13%;
  margin-left: 30%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button__:hover {
  transition: 1s;
  color: rgba(0, 0, 0, 0.966);
  background-color: var(--corPrimaria);
}

/* Div exibindo as categorias dos produtos. Suplementos, equipamentos e acessórios */
.categoriaDeProdutosContainer {
  margin: auto;
  width: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoriaDeProdutos {
  position: relative;
  margin: 20px;
  width: 330px;
  height: 180px;
  background-color: #cecece;
  color: white;
  border: 1px solid #00000027;
  transition: 0.5s;
  cursor: pointer;
}

.categoriaDeProdutos:hover {
  border: 1px solid black;
  background-color: #181818;
  color: var(--corPrimaria);
}

.categoriaDeProdutos img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 160px;
  display: block;
  margin: auto;
}

.categoriaDeProdutosTitulo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  text-shadow: 1px 1px 5px #000000;
}

/*  Lista dos produtos exibidos em "Mais vendidos"  */
.maisVendidosTitulo {
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 10px;
}

.listaDeProdutos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.cardProduto {
  width: 180px;
  height: 240px;
  padding: 5px 3px;
  margin: 0px 15px 15px 15px;

  display: flex;
  flex-direction: column;

  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.cardProduto:hover {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.cardProduto img {
  width: 150px;
  max-height: 180px;
  display: block;
  margin: auto;
}

.tituloProduto,
.preçoProduto {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.tituloProduto {
  color: #4b4b4b;
  margin-bottom: 1px;
}

/*  Footer  */
footer {
  padding: 10px;
  background-color: black;
  color: #686868;
  text-align: center;
}

/*  Carrinho  */

/* por favor nao mexe nesse aqui pelo amor de deus */

.botao__carinho {
  color: white;
  background-color: #181818;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -350px;
  padding: 20px;
  width: 340px;
  z-index: 1001;
  transition: 0.7s;
}
.botao__carinho i{
  font-size: 1.3rem;
}
.botao__carinho.carrinhoAberto{
  right: 0;
}

#fecharCarrinhoBtn{
  position: absolute;
  top: 25px;
  right: 25px;

  
  color: #cecece;
  text-align: center;
  border: none;
  border-radius: 50%;
  background: none;
  transition: .5s;
  cursor: pointer;
}

.limparCarrinhoBtn{
  padding: 0px;
  border-radius: 40px;
  width: 80px;
  margin-bottom: 30px;
  transition: .5s;
  cursor: pointer;
}






@media screen and (width < 760px){

  .categoriaDeProdutos{
    width: 90vw;
    margin-top: 5px;
  }
}

@media screen and (width < 600px) {
  #hamburguerBtn, .nav2ItemNome{
    display: inline-block;
  }
  #hamburguerBtn.ativo{
    transform: rotate(90deg);
    top: 35%;
    color: var(--corPrimaria);
  }
  .navMenu{
    position: absolute;
    top: 87%;
    right: 0;
    width: 100%;
    padding: 10px 20px 20px 10px;
    opacity: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, #151515, black);
    background-color: rgba(0, 0, 0, 0.792);
    transition: .6s;
  }
  .navMenu.mostrar{
    top: 100%;
    opacity: 1;
    pointer-events: all;
    border-bottom: 2px solid var(--corPrimaria);
    
  }
  .navItems2{
    margin-top: 10px;
  }
  .navItems, .navItems2{
    width: fit-content;
  }

  .navItems a, .navItems button{
    padding: 5px;
  }

  .navMenu, .navItems, .navItems2{
    
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #produtosListaDropDownUl{
    top: -100%;
    left: 100%;
    
    background-color: #1e1e1e;
  }



  



  .botao__carinho{
    width: 240px;
    border-left: 2px solid var(--corPrimaria);
  }

}
@media screen and (width < 375px) {
  
  .navItems, .navItems2{
    align-items: flex-start;
  }
  .navItems2 button{
    padding-left: 0;
  }

  #produtosListaDropDownUl{
    left: 85.5%;
    width: 125px;
    
  }
}
