:root {
  --bgImagePrimario: linear-gradient(to bottom, black, #151515);
  --corPrimaria: #faff04;
  --tamanhoCarrosel: 456px;
}

* {
  font-family: Inter;
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #00000065;
  transition: 0.5s;
  z-index: 1;
}

/* Informações sobre desconto e frete grátis */
header {
  background-color: #000000;
  width: 100%;
  height: fit-content;
  padding: 5px;
}

header p {
  width: 100%;
  text-align: center;
  font-size: 17px;
  margin-bottom: 4px;
}

.primeiroTitulo {
  color: #d1d1d1;
}

.segundoTitulo {
  color: var(--corPrimaria);
}


/*  Div carrosel  */

.meio {
  width: 100%;
  height: var(--tamanhoCarrosel);
  position: relative;

  background-image: url(images/carroselBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 25% right;
}

.sombraSobreFoto {
  background-color: rgba(
    1.0625000554136932,
    1.0625000554136932,
    1.0625000554136932,
    0.44999998807907104
  );
  width: 100%;
  height: var(--tamanhoCarrosel);
  position: absolute;
  left: 0px;
  top: 0px;
}

.btnCompra {
  width: 237.02731323242188px;
  height: 64px;
  position: absolute;
  left: 29%;
  top: 325px;
}

.btnBackground {
  background-color: rgba(
    233.00000131130219,
    116.00000068545341,
    9.000000413507223,
    1
  );
  width: 237.02731323242188px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btnTexto {
  color: rgba(255, 255, 255, 1);
  width: 174.02005004882812px;
  height: 60px;
  position: absolute;
  left: 32.003841400146484px;
  top: 4px;

  text-align: center;
  font-size: 39px;
  letter-spacing: 2;
}

.precoCombo {
  color: rgba(218.87500405311584, 218.87500405311584, 218.87500405311584, 1);
  width: 313.95416259765625px;
  height: 34.42387390136719px;
  position: absolute;
  left: 23%;
  top: 227px;

  text-align: center;
  font-size: 23px;
  letter-spacing: 2;
}

.tituloCarrossel {
  color: rgba(255, 255, 255, 1);
  width: 679.4757690429688px;
  height: 53.41635513305664px;
  position: absolute;
  top: 183px;

  text-align: center;
  font-size: 35px;
  letter-spacing: 2;
}

.fotoProdutos {
  width: 238px;
  height: 215px;
  position: absolute;
  left: 29%;
  top: -25px;
  background-image: url(images/highlight_item.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.esquerda {
  color: rgba(255, 255, 255, 1);
  width: 85.01973724365234px;
  height: 110.82571411132812px;
  position: absolute;
  left: 25.811079025268555px;
  top: 400px;

  text-align: left;
  font-size: 70px;
  letter-spacing: 2;
}

.direita {
  color: rgba(255, 255, 255, 1);
  width: 65px;
  height: 95.394287109375px;
  position: absolute;
  left: 96%;
  top: 400px;

  font-size: 70px;
  letter-spacing: 2;
}

/*  CAROUSEL  */
.carroselSection {
  box-shadow: 1px 3px 5px 1px #000000b0;
}

#imagem-Carousel {
  width: 280px;
  height: 380px;
  zoom: 80%;
  left: 45%;
  margin-top: 8%;
  margin-left: -20%;
  position: relative;
}

.carousel-caption {
  margin-left: 35%;
}

.carrossel {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 32%;
  margin-top: 80%;
}

.button__ {
  width: 150px;
  height: 40px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 13%;
  margin-left: 30%;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 20px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button__:hover {
  transition: 1s;
  color: rgba(0, 0, 0, 0.966);
  background-color: var(--corPrimaria);
}

/* Div exibindo as categorias dos produtos. Suplementos e equipamentos. */
.categoriaDeProdutosContainer {
  margin: auto;
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoriaDeProdutos {
  position: relative;
  margin: 20px;
  width: 45vw;
  height: 220px;
  background-position: center;
  background-size: cover;
  color: white;
  border: 1px solid #00000027;
  transition: 0.5s;
  cursor: pointer;
}
.categoriaDeProdutos:nth-of-type(1) {
  background-image: url(images/suplementosBg.jpg);
}
.categoriaDeProdutos:nth-of-type(2) {
  background-image: url(images/equipamentosBg.jpg);
}

.categoriaDeProdutos:hover {
  border: 1px solid black;
  color: var(--corPrimaria);
}

.categoriaDeProdutos .overlay:hover {
  background-color: #0000009a;
}
.categoriaDeProdutosTitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  text-shadow: 1px 1px 5px #000000;
  z-index: 100;
}


/* Div com os produtos em promoção */
.produtosDestaqueSection {
  width: 100vw;
  height: fit-content;
  background-color: #e3e3e3;
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.produtoDestaque {
  position: relative;
  width: 47%;
  height: 27vh;
  display: flex;
  align-items: flex-end;
  background-image: url(images/homemBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center left;
  background-color: #000000;
}
.produtoDestaqueOverlay {
  background-color: #000000d8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.produtoDestaque .produto {
  position: relative;
  height: 100%;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  z-index: 100;
}
.produtoDestaque .descricao {
  position: relative;
}

.produtoDestaque .destaqueTitulo {
  display: inline-block;
  width: fit-content;
  color: #eaeaea;
  margin-bottom: 0;
  font-size: clamp(1rem, 1rem + 1.1vw, 1.6rem + 0.4vw);
}
.produtoDestaque .precoAntigo {
  text-decoration: line-through;
  margin-bottom: -10px;
  color: #b0afaf;
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1.3rem);
}
.produtoDestaque .precoNovo {
  font-size: clamp(1.5rem, 1.5rem + 1.5vw, 1.5rem + 1vw);
  color: #d404d4;
  font-weight: bold;
  margin-bottom: 0;
}

.produtoDestaque .actionBtn {
  width: 70%;
  padding: 5px;
  margin-top: 3px;
  font-weight: bold;
  border-radius: 30px;

  background-color: #f8fffa;
  color: #d404d4;
  font-size: 1.1rem;
  cursor: pointer;
}
.produtoDestaque img {
  width: 200px;
  height: 250px;
}

.descricaoProdutosSection {
  width: 100vw;
  padding: 30px 10px;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
}

.produtoDescricao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 0;
}

.produtoDescricao:nth-of-type(odd) {
  flex-direction: row-reverse;
  margin-left: 0;
  margin-right: 50px;
}
.produtoDescricao .descricaoTexto {
  width: 39%;
}
.descricaoTitulo {
  font-weight: bold;
  color: red;
}
.produtoDescricao img {
  width: 23%;
}

.descricaoProdutosSection h3 {
  font-weight: bold;
  margin: 30px auto 30px auto;
  text-align: center;
}



@media screen and (width < 1180px) {
  /* Div com os produtos em promoção */
  .produtosDestaqueSection {
    gap: 30px;
  }
  .produtoDestaque {
    width: 90%;
    justify-content: space-around;
  }

  .produtoDestaque .produto {
    width: 100%;
  }

  .produtoDestaque:nth-of-type(even) .produto {
    flex-direction: row-reverse;
  }

  /* Descrição do whey protein div */
  .produtoDescricao .descricaoTexto {
    width: max-content;
  }

  .produtoDescricao img {
    width: 45%;
  }
}

@media screen and (width < 760px) {
  .categoriaDeProdutos {
    width: 90vw;
    margin-top: 5px;
  }

  /* Div com os produtos em promoção */
  .produtoDestaque img {
    width: 180px;
    height: 230px;
  }
}

@media screen and (width < 630px) {
  header p {
    font-size: 13px;
  }

  /* Div com os produtos em promoção */
  .produtosDestaqueSection {
    padding: 10px;
    gap: 20px;
  }
  .produtoDestaque {
    width: 100%;
  }
  .produtoDestaque img {
    width: 150px;
    height: 200px;
  }

  /* Descrição do whey protein div */
  .produtoDescricao {
    margin: 0 0 30px 0 !important;
    flex-direction: column-reverse !important;
    justify-content: center;
  }
  .produtoDescricao .descricaoTexto {
    width: 90%;
  }

  .produtoDescricao img {
    width: 45%;
    margin-bottom: 15px;
  }
}

@media screen and (width < 460px) {

  /* Div com os produtos em promoção */
  .produtoDestaque img {
    width: 80px;
    height: 120px;
  }

  .listaDeProdutos {
    gap: 0;
  }
  

  /* Descrição do whey protein div */
  .produtoDescricao {
    margin: 0 0 30px 0 !important;
    flex-direction: column-reverse !important;
    justify-content: center;
  }
  .produtoDescricao .descricaoTexto {
    width: 90%;
  }

  .produtoDescricao img {
    width: 90%;
    margin-bottom: 25px;
  }

  
}
