html, body {
    margin: 0;
    padding: 0;
}

:root {
    --tamanhoCarrosel: 456px;
  }


/* Informações sobre desconto e frete grátis */
header {
    background-color: #000000;
    width: 100%;
    height: fit-content;
    padding: 5px;
}

header p{
    width: 100%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 4px;
}

.primeiroTitulo {
    color: #d1d1d1;
}
.segundoTitulo {
    color: #faff04;
    
}





/* Navbar */
nav{
    position: sticky;
    top: 0;
    height: 100px;

    display: flex!important;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    border: 3px solid black;
    background-color: #000000;

    z-index: 1000;
}
nav *{
    z-index: 1000;
}

.logodiv {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    
}

.logoImg {
    width: 100px;
    height: 100px;
    background-image: url(images/kisspng_gray_wolf_logo_mascot_clip_art_wolf_5ab4467dd78141_1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.logoNome {
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: 100%;
    color: #faff04;
    font-weight: bold;
}

.menuSection {
    width: fit-content;
    height: 24px;
    cursor: pointer;
    ;
}

.menuItem{
    color: #ffffff;
    margin: 0 10px;
    font-size: 1.1rem;
}












/* Div carrosel */

.meio {
    width: 100%;
    height: var(--tamanhoCarrosel);
    position: relative;

    background-image: url(images/gym_nobody__empty_fitness_club_2.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.sombraSobreFoto {
    background-color: rgba(1.0625000554136932, 1.0625000554136932, 1.0625000554136932, 0.44999998807907104);
    width: 100%;
    height: var(--tamanhoCarrosel);
    position: absolute;
    left: 0px;
    top: 0px;
}

.btnCompra {
    width: 237.02731323242188px;
    height: 64px;
    position: absolute;
    left: 29%;
    top: 325px;
}

.btnBackground {
    background-color: rgba(233.00000131130219, 116.00000068545341, 9.000000413507223, 1);
    width: 237.02731323242188px;
    height: 60px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.btnTexto {
    color: rgba(255, 255, 255, 1);
    width: 174.02005004882812px;
    height: 60px;
    position: absolute;
    left: 32.003841400146484px;
    top: 4px;
    font-family: Inter;
    text-align: center;
    font-size: 39px;
    letter-spacing: 2;
}

.produtospgs {
    width: 142.5688018798828px;
    height: 16.618419647216797px;
    position: absolute;
    left: 35%;
    top: 425px;
}

.pg5 {
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
    width: 21.233617782592773px;
    height: 16.618419647216797px;
    position: absolute;
    left: 121.33505249023438px;
    top: 0px;
}

.pg4 {
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
    width: 21.233617782592773px;
    height: 16.618419647216797px;
    position: absolute;
    left: 91.00050354003906px;
    top: 0px;
}

.pg3 {
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
    width: 21.233617782592773px;
    height: 16.618419647216797px;
    position: absolute;
    left: 60.667415618896484px;
    top: 0px;
}

.pg2 {
    border-radius: 500px;
    background-color: rgba(233.00000131130219, 116.00000068545341, 9.000000413507223, 1);
    width: 21.233617782592773px;
    height: 16.618419647216797px;
    position: absolute;
    left: 30.334331512451172px;
    top: 0px;
}

.pg1 {
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
    width: 21.233617782592773px;
    height: 16.618419647216797px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.precoProduto {
    color: rgba(255, 122.3999972641468, 0, 1);
    width: 383.7218017578125px;
    height: 66.47367858886719px;
    position: absolute;
    left: 18%;
    top: 260px;
    font-family: Inter;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2;
}

.precoCombo {
    color: rgba(218.87500405311584, 218.87500405311584, 218.87500405311584, 1);
    width: 313.95416259765625px;
    height: 34.42387390136719px;
    position: absolute;
    left: 23%;
    top: 227px;
    font-family: Inter;
    text-align: center;
    font-size: 23px;
    letter-spacing: 2;
}

.tituloCarrossel {
    color: rgba(255, 255, 255, 1);
    width: 679.4757690429688px;
    height: 53.41635513305664px;
    position: absolute;
    top: 183px;
    font-family: Inter;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2;
}

.fotoProdutos {
    width: 238px;
    height: 215px;
    position: absolute;
    left: 29%;
    top: -25px;
    background-image: url(images/highlight_item.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.esquerda {
    color: rgba(255, 255, 255, 1);
    width: 85.01973724365234px;
    height: 110.82571411132812px;
    position: absolute;
    left: 25.811079025268555px;
    top: 400px;
    font-family: Inter;
    text-align: left;
    font-size: 70px;
    letter-spacing: 2;
}

.direita {
    color: rgba(255, 255, 255, 1);
    width: 65px;
    height: 95.394287109375px;
    position: absolute;
    left: 96%;
    top: 400px;
    font-family: Inter;
    font-size: 70px;
    letter-spacing: 2;
}

/*             CAROUSEL  */

#Imagem-Carousel {
    width: 280px;
    height: 380px;
    zoom: 80%;
    left: 45%;
    margin-top: 8%;
    margin-left: -20%;
    position: relative;
}

.carousel-caption {
    margin-left: 35%;
}

.carrossel {
    width: 40%;
    height: 60%;
    position: absolute;
    left: 32%;
    margin-top: 80%;
}

.button__ {
    width: 150px;
    height: 40px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 13%;
    /* border-radius: 35px; */
    margin-left: 30%;
    margin-bottom: 10%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button__:hover {
    transition: 1s;
    color: rgba(0, 0, 0, 0.966);
    background-color: rgb(251, 255, 0);
}






/* Div exibindo as categorias dos produtos. Suplementos, equipamentos e acessórios */
.categoriaDeProdutosContainer{
    margin: auto;
    width: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.categoriaDeProdutos{
    position: relative;
    margin: 20px;
    width: 330px;
    height: 180px;
    background-color: #cecece;
    color: white;
    border: 1px solid #00000027;
    transition: .5s;
    cursor: pointer;
}
.categoriaDeProdutos:hover{
    border: 1px solid black;
    background-color: #181818;
    color:#faff04;

}
.categoriaDeProdutos img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 160px;
    display: block;
    margin: auto;
}
.categoriaDeProdutosTitulo{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: bold;
    text-shadow: 1px 1px 5px #000000;
}






/* Lista dos produtos exibidos em "Mais vendidos" */
.maisVendidosTitulo{
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 10px;
}
.listaDeProdutos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.cardProduto{
    width: 180px;
    height: 240px;
    padding: 5px 3px;
    margin: 0px 15px 15px 15px;

    display: flex;
    flex-direction: column;

    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
}

.cardProduto:hover{
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.cardProduto img{
    width: 150px;
    max-height: 180px;
    display: block;
    margin: auto;

}


.tituloProduto, .preçoProduto{
    width: fit-content;
    margin: auto;
    text-align: center;
}

.tituloProduto{
    color: #4b4b4b;
    margin-bottom: 1px;
}






/* Footer */
footer{
    padding: 10px;
    background-color: black;
    color: #686868;
    text-align: center;
}








/*  carrinho */


/* por favor nao mexe nesse aqui pelo amor de deus */

.botao__carinho {
    background-color: rgb(252, 252, 252);
    width: 200px;
    height: 200px;
    margin-top: -1%;
    left: 70%;
    position: fixed;
    z-index: 1;
    text-align: center;
}