html, body
{
    margin: 0;
    padding: 0;
}

.menuFooter { 
	width:564.1417236328125px;
	height:81.36571502685547px;
	position:absolute;
	left: 37%;
	top:874px;
	padding-bottom: 15px;
}
.fundoFooterSlecionado { 
	background-color:rgba(61.62499822676182, 61.62499822676182, 61.62499822676182, 1);
	width:250.47572326660156px;
	height:81.36571502685547px;
	position:absolute;
	left:94.11815643310547px;
	top:0px;
	border-top-left-radius:38px;
	border-top-right-radius:38px;
	border-bottom-left-radius:38px;
	border-bottom-right-radius:38px;
}
.nomesMenFooter { 
	width:564.1417236328125px;
	height:37.87714385986328px;
	position:absolute;
	left:0px;
	top:22.445714950561523px;
}
.footerAcessorios { 
	color:rgba(0, 0, 0, 1);
	width:205.8855438232422px;
	height:32.26571273803711px;
	position:absolute;
	left:358.2560119628906px;
	top:0.00007812499825377017px;
	font-family:Inter;
	text-align:left;
	font-size:31px;
	letter-spacing:2;
}
.footerTudo { 
	color:rgba(0, 0, 0, 1);
	width:83.49190521240234px;
	height:37.87714385986328px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:31px;
	letter-spacing:2;
}
.footerSumplementos { 
	color:rgba(255, 255, 255, 1);
	width:215.56092834472656px;
	height:33.66857147216797px;
	position:absolute;
	left:116.88849639892578px;
	top:0.00007812499825377017px;
	font-family:Inter;
	text-align:left;
	font-size:31px;
	letter-spacing:2;
}
.meio { 
	width:100%;
	height:676px;
	position:absolute;
	left:0px;
	top:101px;
}

.fotoFundoSection { 
	width:100%;
	height:676px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/gym_nobody__empty_fitness_club_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.sombraSobreFoto { 
	background-color:rgba(1.0625000554136932, 1.0625000554136932, 1.0625000554136932, 0.44999998807907104);
	width:100%;
	height:676px;
	position:absolute;
	left:0px;
	top:0px;
}
.carrossel { 
	width:679.4757690429688px;
	height:500px;
	position:absolute;
	left:32%;
	top:200px;
}

.btnCompra { 
	width:237.02731323242188px;
	height:64px;
	position:absolute;
	left:29%;
	top:325px;
}
.btnBackground { 
	background-color:rgba(233.00000131130219, 116.00000068545341, 9.000000413507223, 1);
	width:237.02731323242188px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.btnTexto { 
	color:rgba(255, 255, 255, 1);
	width:174.02005004882812px;
	height:60px;
	position:absolute;
	left:32.003841400146484px;
	top:4px;
	font-family:Inter;
	text-align:center;
	font-size:39px;
	letter-spacing:2;
}
.produtospgs { 
	width:142.5688018798828px;
	height:16.618419647216797px;
	position:absolute;
	left:35%;
	top:425px;
}
.pg5 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:21.233617782592773px;
	height:16.618419647216797px;
	position:absolute;
	left:121.33505249023438px;
	top:0px;
}
.pg4 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:21.233617782592773px;
	height:16.618419647216797px;
	position:absolute;
	left:91.00050354003906px;
	top:0px;
}
.pg3 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:21.233617782592773px;
	height:16.618419647216797px;
	position:absolute;
	left:60.667415618896484px;
	top:0px;
}
.pg2 { 
	border-radius:500px;
	background-color:rgba(233.00000131130219, 116.00000068545341, 9.000000413507223, 1);
	width:21.233617782592773px;
	height:16.618419647216797px;
	position:absolute;
	left:30.334331512451172px;
	top:0px;
}
.pg1 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:21.233617782592773px;
	height:16.618419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.precoProduto { 
	color:rgba(255, 122.3999972641468, 0, 1);
	width:383.7218017578125px;
	height:66.47367858886719px;
	position:absolute;
	left:18%;
	top:260px;
	font-family:Inter;
	text-align:center;
	font-size:45px;
	letter-spacing:2;
}
.precoCombo { 
	color:rgba(218.87500405311584, 218.87500405311584, 218.87500405311584, 1);
	width:313.95416259765625px;
	height:34.42387390136719px;
	position:absolute;
	left:23%;
	top:227px;
	font-family:Inter;
	text-align:center;
	font-size:23px;
	letter-spacing:2;
}
.tituloCarrossel { 
	color:rgba(255, 255, 255, 1);
	width:679.4757690429688px;
	height:53.41635513305664px;
	position:absolute;
	top:183px;
	font-family:Inter;
	text-align:center;
	font-size:35px;
	letter-spacing:2;
}

.fotoProdutos { 
	width:238.11984252929688px;
	height:215px;
	position:absolute;
	left:29%;
	top:-25px;
	background-image:url(images/highlight_item.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.esquerda { 
	color:rgba(255, 255, 255, 1);
	width:85.01973724365234px;
	height:110.82571411132812px;
	position:absolute;
	left:25.811079025268555px;
	top:400px;
	font-family:Inter;
	text-align:left;
	font-size:70px;
	letter-spacing:2;
}
.direita { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:95.394287109375px;
	position:absolute;
	left:96%;
	top:400px;
	font-family:Inter;
	font-size:70px;
	letter-spacing:2;
}


.menuSection { 
	width:882.1016235351562px;
	height:24px;
	position:absolute;
	left:39.5%;
	top:120px;
}

.menuContato { 
	color:rgba(255, 255, 255, 1);
	width:88.01013946533203px;
	height:20px;
	position:absolute;
	left:319.0368957519531px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:2;
}
.menuSobre { 
	color:rgba(255, 255, 255, 1);
	width:64.00737762451172px;
	height:20px;
	position:absolute;
	left:227.02627563476562px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:2;
}
.menuProdutos { 
	width:107.49468231201172px;
	height:20px;
	position:absolute;
	left:91.01061248779297px;
	top:0px;
	color:rgba(255, 255, 255, 1);
	position:absolute;
	left:99px;
	top:0px;
	font-family:Inter;
	font-size:21px;
}


.menuHome { 
	color:rgba(255, 255, 255, 1);
	width:63.007259368896484px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:2;
}

.logodiv { 
	width:110.0126724243164px;
	height:100px;
	position:absolute;
	left:5%;
	top:130px;
}
.logoImg { 
	width:110.0126724243164px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/kisspng_gray_wolf_logo_mascot_clip_art_wolf_5ab4467dd78141_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.logoNome { 
	color:rgb(255, 0, 0);
	width:83.00955963134766px;
	height:20px;
	position:absolute;
	left:17.001981735229492px;
	top:50px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:2;
}
.fundoHeader { 
	background-color:rgba(0, 0, 0, 1);
	width:100%;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.segundoTitulo { 
	color:rgba(249.98499870300293, 255, 4.249995946884155, 1);
	width:100%;
	height:41.25352096557617px;
	position:absolute;
	left:0px;
	top:36px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:2;
}
.primeiroTitulo { 
	color:rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
	width:100%;
	height:41.11504364013672px;
	position:absolute;
	left:0px;
	top:9px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:2;
}
