.cabecalho {
  position: relative;
  width: 100vw;
  height: 35vh;

  background-image: url(../../images/carroselBg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 1px 2px 1px black;
}

.cabecalho > .titulo {
  position: absolute;
  top: 35%;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
  z-index: 100;
}

div.botao__carinho{
  right: -400px;
}









footer h5{
  font-size: 1.4rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

footer div.creditos{
  margin-top: 10px;
  margin-bottom: 35px;
}
footer a{
  text-decoration: none;
  margin-bottom: 10px;
}

@media screen and (width < 460px) {

  div.maisVendidos div.baner {
    width: 90vw;
    height: 300px;
    margin: 15px 0;
  }
  
}

