<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./equipamentos.css" />

    <link rel="stylesheet" href="../../style.css">
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <title>Equipamentos</title>
    <link
      rel="shortcut icon"
      href="../../images/kisspng_gray_wolf_logo_mascot_clip_art_wolf_5ab4467dd78141_1.png"
    />
  </head>

  <body>
    <header>
      <nav>
        <div class="navContainer">
          <!-- Mobile Hamburguer -->
          <button id="hamburguerBtn" class="navBtn">
            <i class="fa fa-bars"></i>
          </button>

          <a href="/" class="logoArea">
            <img
              src="../../images/kisspng_gray_wolf_logo_mascot_clip_art_wolf_5ab4467dd78141_1.png"
              alt="Logo"
            />
            <span class="companyName">Wolf-Fit</span>
          </a>

          <div class="navMenu">
            <ul class="navItems">
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <a href="/components/produtos/produtos.html"> Produtos </a>
              </li>

              <li>
                <a href="/components/contato/contato.html"> Contato </a>
              </li>

              <li>
                <a href="/components/sobre/sobre.html"> Sobre </a>
              </li>
            </ul>

            <div class="navItems2">
              <button class="navBtn">
                <i class="fa fa-user"></i>
                <span class="nav2ItemNome">Login</span>
              </button>
              <button id="abrirCarrinhoBtn" class="navBtn">
                <i class="fa fa-cart-shopping"></i>
                <span class="nav2ItemNome">Carrinho</span>
              </button>
            </div>
          </div>
        </div>
      </nav>

      <div id="botao__carinho" class="botao__carinho">
        <h3>Carrinho <i class="fa fa-cart-shopping"></i></h3>
        <button
          type="button"
          class="limparCarrinhoBtn"
          onclick=" localStorage.clear(); location.reload();"
        >
          Limpar
        </button>

        <div id="botao__carinho___tabela">
          <div>Total: <span id="total"></span></div>

          <div id="itens"></div>
        </div>

        <button id="fecharCarrinhoBtn"><i class="fa fa-close"></i></button>
      </div>
    </header>

    <div class="cabecalho">
      <div class="overlay"></div>
      <h1 class="titulo">Equipamentos</h1>
    </div>

    <section class="maisVendidosSection">
      <div class="maisVendidos maisVendido1">
        <div class="baner equipamentoBaner">
          <div class="overlay"></div>
          <p>Anilhas</p>
          <button class="verMaisBtn">Ver +</button>
        </div>
        <section class="listaDeProdutos">
          <div class="cardProduto produto1">
            <img src="../../images/anilha-emborrachada.png" alt="Pote de creatina" />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Anilha</h6>
              <h5 class="preçoProduto">R$349,90</h5>
            </div>
          </div>
          <div class="cardProduto produto2">
            <img src="../../images/anilha-emborrachada.png" alt="Pote de creatina" />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Anilha</h6>
              <h5 class="preçoProduto">R$349,90</h5>
            </div>
          </div>
          <div class="cardProduto produto3">
            <img src="../../images/anilha-emborrachada.png" alt="Pote de creatina" />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Anilha</h6>
              <h5 class="preçoProduto">R$349,90</h5>
            </div>
          </div>
          <div class="cardProduto produto4">
            <img src="../../images/anilha-emborrachada.png" alt="Pote de creatina" />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Anilha</h6>
              <h5 class="preçoProduto">R$349,90</h5>
            </div>
          </div>
        </section>
      </div>


      <div class="maisVendidos maisVendido2">
        <section class="listaDeProdutos">
          <div class="cardProduto produto1">
            <img src="../../images/banco-supino.png" alt="Pote de creatina" />

            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Banco supino</h6>
              <h5 class="preçoProduto">R$1.199,90</h5>
            </div>
          </div>

          <div class="cardProduto produto2">
            <img src="../../images/banco-supino.png" alt="Pote de creatina" />

            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Banco supino</h6>
              <h5 class="preçoProduto">R$1.199,90</h5>
            </div>
          </div>

          <div class="cardProduto produto3">
            <img src="../../images/banco-supino.png" alt="Pote de creatina" />

            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Banco supino</h6>
              <h5 class="preçoProduto">R$1.199,90</h5>
            </div>
          </div>

          <div class="cardProduto produto4">
            <img src="../../images/banco-supino.png" alt="Pote de creatina" />

            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Banco supino</h6>
              <h5 class="preçoProduto">R$1.199,90</h5>
            </div>
          </div>
        </section>

        <div class="baner equipamentoBaner">
          <div class="overlay"></div>
          <p>Banco para supino</p>
          <button class="verMaisBtn">Ver +</button>
        </div>
      </div>

      <div class="maisVendidos maisVendido3">
        <div class="baner equipamentoBaner">
          <div class="overlay"></div>
          <p>Esteiras</p>
          <button class="verMaisBtn">Ver +</button>
        </div>

        <section class="listaDeProdutos">
          <div class="cardProduto produto1">
            <img src="../../images/esteira-movement.png"
              alt="Halteres 30kg"/>
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Esteira</h6>
              <h5 class="preçoProduto">R$1.869,90</h5>
            </div>
          </div>

          <div class="cardProduto produto2">
            <img
              src="../../images/esteira-movement.png"
              alt="Halteres 30kg"
            />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Esteira</h6>
              <h5 class="preçoProduto">R$1.869,90</h5>
            </div>
          </div>

          <div class="cardProduto produto3">
            <img
              src="../../images/esteira-movement.png"
              alt="Halteres 30kg"
            />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Esteira</h6>
              <h5 class="preçoProduto">R$1.869,90</h5>
            </div>
          </div>

          <div class="cardProduto produto4">
            <img
              src="../../images/esteira-movement.png"
              alt="Halteres 30kg"
            />
            <div class="cardProdutoInfo">
              <h6 class="tituloProduto">Esteira</h6>
              <h5 class="preçoProduto">R$1.869,90</h5>
            </div>
          </div>
        </section>
      </div>
    </section>



    <!-- Footer -->
    <footer>
      <div class="cadastroEmail">
        <p>
          <i class="fas fa-envelope"></i> RECEBA OFERTAS E NOVIDADES POR E-MAIL:
        </p>

        <form>
          <input type="email" placeholder="E-mail" />
          <button class="cadastrarBtn">Cadastrar</button>
        </form>
      </div>

      <div class="creditos">
        <div class="criadores">
          <h5>Criadores</h5>
          <a href="https://github.com/Alcantara-Diego" target="_blank"
            >Diego Alcântara</a
          >
          <a href="https://github.com/jhoneshark" target="_blank">Jhoneshark</a>
          <a href="https://github.com/Claitonok" target="_blank"
            >Claiton Silva</a
          >
          <a href="https://github.com/Digao46" target="_blank">Diogo Melo</a>
        </div>

        <div class="extras">
          <h5>Extras</h5>
          <a href="https://www.instagram.com/wolffit848/" target="_blank"
            >Instagram <i class="fa-brands fa-instagram"></i
          ></a>
          <a href="/components/sobre/sobre.html"> Sobre Nós</a>
          <a href="/components/contato/contato.html">Fale Conosco</a>
          <a href="/components/sobre/sobre.html"> </a>
        </div>

        <div class="imagens">
          <h5>Imagens</h5>

          <a
            href="https://unsplash.com/@sxoxm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Sven Mieke</a
          >

          <a
            href="https://www.freepik.com/free-psd/protein-powder-container-mockup_17197932.htm#query=whey&position=5&from_view=search&track=sph"
            target="_blank"
            >xvector</a
          >

          <a
            href="https://unsplash.com/@visualsbyroyalz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            target="_blank"
            >Anastase Maragos</a
          >
        </div>
      </div>
      <div>Wolf-Fit suplementos LTDA©2022</div>
    </footer>
  </body>

  <script src="../../JS/hamburguerBtn.js"></script>
  <script src="../../JS/carrinho.js"></script>
</html>
