:root {
  --bgImagePrimario: linear-gradient(to bottom, black, #151515);
  --corPrimaria: #faff04;
  --tamanhoCarrosel: 456px;
}

* {
  font-family: Inter;
  max-width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*  Navbar  */
nav {
  width: 100vw;
  height: 12%;

  background-image: linear-gradient(to bottom, black, #151515);
  color: white;

  position: sticky;
  top: 0;

  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  z-index: 1000;
}

.navBtn {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.navBtn:hover {
  color: var(--corPrimaria);
}
#hamburguerBtn {
  display: none;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);

  border: none;
  background: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.6s;
}

nav .navContainer {
  width: 92%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoArea {
  height: 100%;
  width: 15%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
}

.logoArea img {
  height: 90px;
  width: 90px;
}

.companyName {
  font-size: 1.5rem;
  color: var(--corPrimaria);
  font-weight: bold;

  position: absolute;
  margin-top: 60px;
}

.navMenu {
  width: 85%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  white-space: nowrap;
}

.navItems {
  margin: 0;
  padding: 0;

  width: 50%;

  display: flex;
  justify-content: center;
}
.navItems > li {
  margin-right: 18px;
}

#produtosListaDropDown {
  position: relative;
}

#produtosListaDropDownUl {
  background-color: #181818;
  position: absolute;
  top: 100%;
  opacity: 0;
  pointer-events: none;
  left: 0%;
  width: 150px;
  max-width: 200% !important;
  white-space: nowrap;
  padding: 10px 20px 20px 10px;
  transition: 0.6s;
}

#produtosListaDropDownUl.mostrar {
  pointer-events: all;
  opacity: 1;
}

#produtosListaDropDownUl li {
  margin-top: 8px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d1d1d1;
  color: #d1d1d1;
}

#produtosListaDropDownUl li:hover {
  text-indent: 5px;
  color: var(--corPrimaria);
  border-bottom: 1px solid var(--corPrimaria);
}

.navItems i {
  font-size: 0.8rem;
  margin-left: 2px;
}

.navItems li,
.navItems a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  transition: 0.4s;
}

.navItems a:hover {
  text-decoration: none;
  color: var(--corPrimaria);
}

.navItems2 {
  width: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav2ItemNome {
  display: none;
}

/* Section */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #00000065;
  transition: 0.5s;
  z-index: 1;
}

.fotoFundo img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.textDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: sans-serif;
  width: 61%;
  font-size: 22px;
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
  border-radius: 2%;
}
