<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Sobre.css" />
    <title>Sobre</title>
  </head>

  <body>
    <div class="h1">
      <a href="../Projeto Grupo/Projeto/index.html">
        <h1>Sobre</h1>
      </a>
    </div>
  </body>

  <div class="fotoFundo">
    <img src="../images/gym_nobody__empty_fitness_club_2.png" alt="" />
    <div class="textDiv">
      <h1>Sobre</h1>
      <h2>
        <i id="spaceText"> </i>Wolf fit é uma empresa focada na venda de
        suplementos ao consumidor em geral e na venda de acessórios voltados ao
        público de academia, assim agregando treinamento físico e saúde como
        estilo de vida. Nossos suplementos podem ser usados para elevar o treino
        do consumidor para seu potencial máximo, atingindo o melhor resultado
        que pode ser adquirido em seu treino. Vendemos produtos por toda a
        extensão da cidade de São Paulo que podem ser adquiridos em nosso
        website e na primeira loja física recentemente inaugurada . Nosso
        objetivo é expandir o alcance da marca tendo lojas físicas espalhadas
        por todo o Brasil e capacidade de entrega de nossos produtos para todo
        território nacional, para levar um estilo de vida ao nosso consumidor
        onde ele estiver. Neste trabalho abordamos a construção de uma loja
        virtual e uma academia de maneira fictícia, utilizando dados de produtos
        e equipamento real a fim de trazer veracidade ao projeto, até mesmo
        informação de alocações, sistemas ágeis e diagramas. Vimos que, durante
        a pandemia, grande parte da população acabou não tendo como fazer algo e
        sim ficar reclusos em suas moradias, durante o período medidas foram
        criadas a fim de conter esse isolamento dando mais brecha a população.
        Ao final da pandemia houve uma crescente nesse mercado fitness e
        instituições que fornecem algum tipo de treinamento físico, tais quais a
        academia é um deles, teve uma alta demanda de procura. Tanto que, os
        objetivos marcados em relação ao projeto são facilmente alcançáveis,
        pois os colaboradores do mesmo, possuem habilidades para realizarem,
        dedicação e aprendizado crescente. Enfim, concluindo que, o mercado
        sempre irá ter uma demanda, pois a densidade população tende a seguir
        uma linha de crescimento constante e, a ideia de adotar o estilo de vida
        Fitness atrai uma parcela grande de pessoas, ou seja, caso fosse
        utilizado as ideias do projeto de maneira fictícia e concreta, haveria
        mercado para a wolf fit.
      </h2>
    </div>
  </div>
  <footer>
    <a href="../Projeto Grupo/Projeto/index.html">
      <b>Pagina inicial</b>
    </a>
  </footer>
</html>
