<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./sobre.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />

    <title>WOLF FIT</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="navContainer">
          <!-- Mobile Hamburguer -->
          <button id="hamburguerBtn" class="navBtn">
            <i class="fa fa-bars"></i>
          </button>

          <a href="/" class="logoArea">
            <img
              src="../../images/kisspng_gray_wolf_logo_mascot_clip_art_wolf_5ab4467dd78141_1.png"
              alt="Logo"
            />
            <span class="companyName">Wolf-Fit</span>
          </a>

          <div class="navMenu">
            <ul class="navItems">
              <li>
                <a href="/"> Home </a>
              </li>
              <li>
                <div id="produtosListaDropDown">
                  <a href="/components/produtos/produtos.html">
                    <span>Produtos</span> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul id="produtosListaDropDownUl">
                    <li>Mais vendidos</li>
                    <li>Promoções</li>
                    <li>Halteres</li>
                    <li>Anilhas</li>
                  </ul>
                </div>
              </li>

              <li>
                <a href="/components/contato/contato.html"> Contato </a>
              </li>
            </ul>

            <div class="navItems2">
              <button class="navBtn">
                <i class="fa fa-user"></i>
                <span class="nav2ItemNome">Login</span>
              </button>
              <button id="abrirCarrinhoBtn" class="navBtn">
                <i class="fa fa-cart-shopping"></i>
                <span class="nav2ItemNome">Carrinho</span>
              </button>
            </div>
          </div>
        </div>
      </nav>

      <div id="botao__carinho" class="botao__carinho">
        <h3>Carrinho <i class="fa fa-cart-shopping"></i></h3>
        <button
          type="button"
          class="limparCarrinhoBtn"
          onclick=" localStorage.clear(); location.reload();"
        >
          Limpar
        </button>

        <div id="botao__carinho___tabela">
          <div>Total: <span id="total"></span></div>

          <div id="itens"></div>
        </div>

        <button id="fecharCarrinhoBtn"><i class="fa fa-close"></i></button>
      </div>
    </header>

    <div class="quemSomos">
      
      <h1 class="titulo">Quem somos?</h1>
    </div>


    <div class="textoContainer">
      <h2>Wolf fit é uma empresa focada na venda de suplementos, equipamentos e acessórios.</h2>

      <p>Nossos produtos são vendidos principalmente por <strong>e-commerce</strong>, e são voltados ao público de academia, que leva sua <strong>saúde</strong> e <strong>boa forma física</strong> como estilo de vida.</p>


      <h3>Missão</h3>

      <p>Lutar <strong>contra o sedentarismo</strong>, e elevar o nível do treino das pessoas com nossos suplementos e equipamentos de <strong>alta qualidade</strong> para que seja atingindo o melhor desempenho possível.
      </p>


      <h3>Visão</h3>

      <p>Consolidar nossos produtos e serviços, em uma posição de <strong>líder de mercado</strong>. Tendo nossa marca reconhecida em todo território nacional como referência de <strong>maior qualidade</strong> e <strong>conforto</strong> que nossos produtos oferecem.</p>
    </div>

    <!-- Footer -->
    <footer>
      Wolf-Fit suplementos LTDA©2022

      <a
        href="https://www.freepik.com/free-psd/protein-powder-container-mockup_17197932.htm#query=whey&position=5&from_view=search&track=sph"
        >Image by xvector</a
      >
      on Freepik
    </footer>
  </body>

  <script src="../../JS/navbar.js"></script>
  <script src="../../JS/produtos.js"></script>
  <script src="../../JS/carrinho.js"></script>
</html>








<!-- Creditos de fotos que vou arrumar algum lugar pra colocar dps, não apaga pff -->
<!-- Photo by <a href="https://unsplash.com/@visualsbyroyalz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anastase Maragos</a> on <a href="https://unsplash.com/s/photos/gym?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
  